body {
  box-sizing: border-box;
  margin: 0;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #1ed760;
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .nav-item {
    padding: 28px 17px;
    font-weight: 700;
  }
}

main {
  height: 968px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
}

footer {
  height: 530px;
  background-color: black;
}
